body {
  margin: 0;
}

.head {
  height: 350px;
  width: :100%;
  background-image:url("../images/darkness.webp");

}

.intro-heading{
 font-family: 'Poppins', sans-serif;
 text-align: left;
 width: 495px;


}

.code-img {
  width: 30%;
  position: absolute;
  top: 163px;
}

.link-Contact {
  text-decoration: none;
  color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  right: 300px;
  top: 50px;
}

.link-Who {
  text-decoration: none;
  color: #F2F2F2;

  font-family: 'Poppins', sans-serif;
  position: absolute;
  right: 450px;
  top: 50px
}

a:hover {
  color: #FFFFFF;
  text-shadow: 3px 8px 25px #FFFFFF;
}

.main-heading {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  color: #F5F5F5;
  word-spacing: 10px;
  position: absolute;
  right: 450px;
  top: 170px;
  text-shadow: 2px 2px 5px #FFFFFF;
}

.myIntro{
  width: 40%;
  position: relative;
  top: 50px;

}
